<ul>
  <% @documents.each do |file| %>
    <li>
      <form action="/<%= file %>/alter" method="post">
        <a href="/<%= file %>"><%= file %></a>
        <a href="/<%= file %>/edit">Edit</a>
        <button type="submit" name="duplicate" value="duplicate">Duplicate</button>
        <button type="submit" name="delete" value="delete">Delete</button>
      </form>
    </li>
  <% end %>
</ul>
<section>
  <p><a href="/new">New Document</a></p>
  <p><a href="/upload">Upload Image</a></p>
</section>
<section>
  <% if session[:username] %>
    <form action="/users/signout" method="post">
      <p>
        <em>Signed in as <%= session[:username] %>. </em>
        <button type="submit">Sign Out</button>
      </p>
    </form>
  <% else %>
    <p><em>Want to be a registered user? </em> <a href="/users/signup">Sign up</a></p>
    <p><em>Already a member? </em> <a href="/users/signin">Sign In</a></p>
  <% end %>
</section>
